<div class="main-page-container">
  <div class="title-container">
    <h3>Create user</h3>
  </div>
  <input type="text" name="name" placeholder="Name" [(ngModel)]="fullName">
  <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
  <select id="status-list" [(ngModel)]="userStatus">
    <option class="select-title" disabled selected>User status:</option>
    <option value="Active">Active</option>
    <option value="Inactive">Inactive</option>
  </select>
  <input type="date" id="date-login" name="date-last-login" [(ngModel)]="dateLastActive">
  <select id="paid-status" [(ngModel)]="paidStatus">
    <option class="select-title" disabled selected>Paid status:</option>
    <option value="Paid">Paid</option>
    <option value="Unpaid">Unpaid</option>
    <option value="Overdue">Overdue</option>
  </select>
  <input type="date" id="date-paid" name="date-paid" [(ngModel)]="datePaid">
  <input class="amount" type="text" name="amount" placeholder="Amount: $" [(ngModel)]="amount">
  <input class="personal-info" type="text" name="personal-info" placeholder="Personal info" [(ngModel)]="personalInfo">
  <div class="btn-save-container">
    <button routerLink=""><span class="material-icons">exit_to_app</span>exit</button>
    <button (click)="addUser()" routerLink=""><span class="material-icons">save</span>Save</button>
  </div>
</div>
