td {
  padding: 10px;
}

tr {
  max-width: 1200px;
  border: 1px solid red;
}
.head-list {
  width: 100%;
  height: 50px;
  background: #F4F2FF;
  font-family: "interFont", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #6E6893;
}

.row-head {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.body-list {
  width: 100%;
  height: 580px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cells {
  height: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cell-1 {
  width: 25%;
}
.cell-2 {
  width: 25%;
}
.cell-3 {
  width: 20%;
}
.cell-4 {
  width: 15%;
  justify-content: flex-end;
}
.cell-5 {
  width: 15%;
}

app-element-of-table {
  display: block;
  height: 12.5%;
}

