app-top-bar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-users-table {
  display: block;
  width: 100%;
  height: 90%;
}

.list-and-bar-component {
  display: block;
  width: 1200px;
  height: 700px;
  background: white;
  border-radius: 8px;
  margin-top: 20px;
}

