<div class="popup-delete-container" [class.unvisible]="unvisionPopupDeleteUser">
  <div class="delete-text-container">
    <p>Are you sure you want<br> to delete user ?</p>
  </div>
  <div class="btn-yes-no-container">
    <button class="btn-yes" (click)="sendUsedToDelete(user)">Yes</button>
    <button class="btn-no" (click)="closeDeletePopup()">No</button>
  </div>
</div>

<div class="popup-container">
  <div class="close-btn">
    <span class="material-icons close-icon" (click)="hidePopup()">close</span>
  </div>
  <div class="element-popup-container" [routerLink]="['edit-user',user.id]"><p>Edit</p></div>
  <div class="element-popup-container" [routerLink]="['view-user',user.id]"><p>View Profile</p></div>
  <div class="element-popup-container" (click)="openDeletePopup()"><p class="delete-btn">Delete</p></div>
</div>
