.popup-container {
  width: 150px;
  height: 90px;
  margin-top: 120px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transform: rotate(-30deg);

  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.element-popup-container {
  cursor: pointer;
  width: 70%;
  height: 28%;
  border-radius: 6px;
  padding-left: 6px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.element-popup-container:hover {
  background: #F2F0F9;
}

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;

  /* Fonts/Primary */

  color: #25213B;
}

.delete-btn {
  color: #D30000;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 17px;
  height: 17px;
  border: 1px solid #6D5BD0;
  border-radius: 50%;
}

.close-btn:hover {
  background: #C6C2DE;
  cursor: pointer;
}

.close-icon {
  font-size: 15px;
  color: rgba(0,0,0,0.6);
}

