@import '~material-design-icons/iconfont/material-icons.css';

body {
  display: block;
  font-family: Inter, sans-serif;
  background: #F2F0F9;
}

button {
  cursor: pointer;
}


button:focus {
  outline: none;
}
